@import "@fontsource/inder";
@import "@fontsource-variable/inter";
@import "tailwindcss";

@plugin "daisyui" {
    prefix: "d-";
    themes: light --default
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter Variable', sans-serif;
    font-weight: 400;
    background: #fafafa;
    color: #111;
}

.inder-sans {
    font-family: 'Inder', sans-serif;
}

.close-modal {
    @apply hover:rotate-90 transition-all duration-300
}