<div class="d-navbar bg-base-100 shadow-sm">
  <div class="flex-1">
    <img src="logo.png" alt="" class="w-16" />
  </div>
  <div class="flex-none">
    <ul class="d-menu d-menu-horizontal px-1 gap-2">
      <li>
        <details>
          <summary class="d-btn d-btn-ghost">Links</summary>
          <ul class="bg-base-100 rounded-t-none">
            <li><a>About</a></li>
            <li><a>Contact</a></li>
          </ul>
        </details>
      </li>
      <li><a href="/login" class="d-btn d-btn-accent">Get Started</a></li>
    </ul>
  </div>
</div>
