---
import { SubscribeModal } from "./SubscribeModal";
---

<div
  class="max-w-3xl mx-auto text-center flex flex-col items-center justify-center"
>
  <img src="logo.png" alt="" class="w-40" />
  <div class="flex flex-col items-center justify-center h-screen gap-4">
    <span class="-mt-64 d-badge d-badge-sm d-badge-dash">Launching Soon 🚀</span
    >

    <h2 class="cta-main-text font-semibold text-4xl md:text-7xl text-center">
      Collect Reviews That
      <br />
      <span
        class="bg-[linear-gradient(90deg,#10B981_0%,#84CC16_100%)] bg-clip-text text-transparent"
      >
        Actually Matter
      </span>
    </h2>
    <p class="text-normal md:text-xl text-slate-500 font-normal">
      Transform customer feedback into growth. Rebhew helps you gather authentic
      reviews, showcase social proof, and build the trust your business
      deserves.
    </p>

    <a
      href="#subscribe-modal"
      rel="modal:open"
      class="d-btn d-btn-accent w-max flex items-center"
    >
      Get Early Access
    </a>
  </div>
</div>

<div id="subscribe-modal" class="modal">
  <SubscribeModal />
</div>

<script>
  // @ts-ignore
  // $("#subscribe-modal").modal({});
</script>
