---
import { SubscribeModal } from "./SubscribeModal";
import { ArrowRight } from "lucide-react";
---

<div
  class="max-w-3xl mx-auto text-center flex flex-col items-center justify-center"
>
  <div class="-mt-20 flex flex-col items-center justify-center h-screen gap-4">
    <div class="heading inder-sans text-2xl font-semibold p-2">
      rebhew.prasuco.com
    </div>
    <div
      class="coming-soon rounded-full border px-2 bg-primary/15 font-accent-content animate-bounce"
    >
      Coming Soon
    </div>
    <h2 class="cta-main-text font-semibold text-4xl md:text-7xl text-center">
      Collect Reviews That
      <br />
      <span
        class="bg-[linear-gradient(90deg,#10B981_0%,#84CC16_100%)] bg-clip-text text-transparent"
      >
        Actually Matter
      </span>
    </h2>
    <div class="text-lg md:text-xl text-slate-600">
      Transform customer feedback into growth. Rebhew helps you gather authentic
      reviews, showcase social proof, and build the trust your business
      deserves.
    </div>

    <a
      href="#subscribe-modal"
      rel="modal:open"
      class="bg-[#00FF3C] px-10 py-2 text-lg w-max flex items-center"
    >
      Get Early Access <ArrowRight />
    </a>
  </div>
</div>

<div id="subscribe-modal" class="modal">
  <SubscribeModal />
</div>

<script>
  // @ts-ignore
  // $("#subscribe-modal").modal({});
</script>
